tqdm
numpy
numexpr
h5py
ffmpeg-python
scikit-image
scipy
colorama
pyqt5
tf2onnx
opencv-python-headless==4.5.1.48
opencv-python==4.5.1.48
flatbuffers
pytest
Flask==1.1.1
flask-socketio==4.2.1
tensorboardX
crc32c
jsonschema
